In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/items-orders/Orders data.xlsx
/kaggle/input/items-orders/Associated_Item_data.csv

In [2]:
#Load the Dataset "Orders"
orders = pd.read_excel(r'/kaggle/input/items-orders/Orders data.xlsx')

In [3]:
orders.head()

,order_date,order_id,order_number,customer_id,customer_name,poc_name,poc_id,amount,discount,net_order_amount,profit,order_status,warehouse_name,warehouse_id
0,2025-04-03,136349,SO/25-26/000818,5235,Anshu General Store Sector 34,Vikas Gupta,6,19125.00,1650.00,17475.0,0.0,CLOSED,Noida,3
1,2025-01-30,110393,SO/24-25/90881,7622,bhai di rasoi,Abhay Srimali,7814,9670.48,735.48,8935.0,-56.4,CLOSED,Greater NOIDA,6
2,2025-02-12,116427,SO/24-25/96511,3827,Shama chicken corner beta,Yash Pandey,51,62500.00,5000.00,57500.0,-650.0,CLOSED,Noida,3
3,2024-12-26,96182,SO/24-25/77411,2223,Bikaner Sweets ( Harola ),Swatantra,25,4520.00,420.00,4100.0,40.0,CLOSED,Noida,3
4,2024-12-30,97858,SO/24-25/78975,6903,Lucknow kirana store,Raj Kumar,7039,1700.00,0.00,1700.0,-88.0,CLOSED,Gomti Nagar,1

In [4]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64459 entries, 0 to 64458
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_date        64459 non-null  datetime64[ns]
 1   order_id          64459 non-null  int64
 2   order_number      64459 non-null  object
 3   customer_id       64459 non-null  int64
 4   customer_name     64459 non-null  object
 5   poc_name          64459 non-null  object
 6   poc_id            64459 non-null  int64
 7   amount            64459 non-null  float64
 8   discount          64459 non-null  float64
 9   net_order_amount  64459 non-null  float64
 10  profit            64459 non-null  float64
 11  order_status      64459 non-null  object
 12  warehouse_name    64459 non-null  object
 13  warehouse_id      64459 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(4), object(5)
memory usage: 6.9+ MB


1. No null records
2. Datatype looking fine

In [5]:
#Drop order_number - No useful information
orders = orders.drop(columns=['order_number'])

In [6]:
#Initialize sample
sample = orders.sample(20)

In [7]:
orders.sort_values(by='order_id').head(30)

,order_date,order_id,customer_id,customer_name,poc_name,poc_id,amount,discount,net_order_amount,profit,order_status,warehouse_name,warehouse_id
41046,2024-09-30,67415,6360,maniram store,Jaynendra Singh,6255,4420.00,370.00,4050.0,-30.00,CLOSED,Ayodhya,4
41047,2024-09-30,67428,5793,Verma Kirana Store Arkuna,Ayush Verma,4462,23000.00,1600.00,21400.0,-100.00,CLOSED,Ayodhya,4
41051,2024-09-30,67446,2227,Aryan Dudh Dairy,RAJAN SHUKLA,32,6780.00,360.00,6420.0,0.00,CLOSED,Telibagh,2
41054,2024-09-30,67480,5743,Jaiswal Bakery,Ayush Verma,4462,51000.00,2100.00,48900.0,900.00,CLOSED,Ayodhya,4
41053,2024-09-30,67488,6248,Pandey Enterprises,Raza Rizvi,5602,27800.00,1433.00,26367.0,142.00,CLOSED,Telibagh,2
41056,2024-09-30,67495,6218,Rohit sweet house,Jaynendra Singh,6255,1700.00,60.00,1640.0,50.00,CLOSED,Ayodhya,4
41057,2024-09-30,67516,5514,Ashok kirana store,Raza Rizvi,5602,2160.00,0.00,2160.0,240.00,CLOSED,Telibagh,2
41060,2024-09-30,67534,3685,maa chandirika sweet house,RAJAN SHUKLA,32,4120.00,216.00,3904.0,0.00,CLOSED,Telibagh,2
41061,2024-09-30,67539,6492,Mohit Gupta Batasha,Shyam Tiwari,4465,27600.00,2040.00,25560.0,-240.00,CLOSED,Ayodhya,4
41064,2024-09-30,67564,6138,Anil General Store,Raza Rizvi,5602,10800.00,1695.00,9105.0,-85.00,CLOSED,Telibagh,2
41066,2024-09-30,67575,5391,yadav general Store,Support Team,5381,1745.00,90.00,1655.0,5.00,CLOSED,Telibagh,2
41068,2024-09-30,67592,5609,Ali General Store,Raza Rizvi,5602,11300.00,700.00,10600.0,-75.00,CLOSED,Telibagh,2
41069,2024-09-30,67593,6263,atharv general store,Jaynendra Singh,6255,1700.00,50.00,1650.0,-10.00,CLOSED,Ayodhya,4
41070,2024-09-30,67596,5651,Bajrangi Bhandar,Ashok Tiwari,4466,27425.00,1350.00,26075.0,-225.00,CLOSED,Ayodhya,4
41067,2024-09-30,67597,4657,Ganesh Sweets,Shyam Tiwari,4465,3400.00,100.00,3300.0,-20.00,CLOSED,Ayodhya,4
41071,2024-09-30,67600,4616,samosa wala jal pan grayh,Ashok Tiwari,4466,4011.71,261.71,3750.0,-68.38,CLOSED,Ayodhya,4
41072,2024-09-30,67617,5608,Mahakal General Store,Raza Rizvi,5602,6760.00,360.00,6400.0,0.00,CLOSED,Telibagh,2
41075,2024-09-30,67631,5372,grossery,Support Team,5381,22600.00,1450.00,21150.0,-200.00,CLOSED,Telibagh,2
41080,2024-09-30,67651,6146,udit general store,Jaynendra Singh,6255,23000.00,1700.00,21300.0,-200.00,CLOSED,Ayodhya,4
41082,2024-09-30,67660,5298,Gupta provision store,Ashish Bajpai,5397,4420.00,270.00,4150.0,-30.00,CLOSED,Telibagh,2
41081,2024-09-30,67664,6181,Mohit Genral store,Ashish Bajpai,5397,18390.00,1030.00,17360.0,30.00,CLOSED,Telibagh,2
41402,2024-09-30,67665,5299,Mahaveer General Store,Ashish Bajpai,5397,3280.00,180.00,3100.0,0.00,CLOSED,Telibagh,2
41079,2024-09-30,67666,2386,Gupta kachori Pajama Wale,RAJAN SHUKLA,32,18390.00,990.00,17400.0,70.00,CLOSED,Telibagh,2
41086,2024-09-30,67668,6413,arvind Kumar,Ashish Bajpai,5397,120000.00,19250.00,100750.0,-1000.00,CLOSED,Telibagh,2
41095,2024-09-30,67669,5931,Sahu Sweets,Ashish Bajpai,5397,22600.00,1450.00,21150.0,-200.00,CLOSED,Telibagh,2
41092,2024-09-30,67670,5513,mathura general Store,Raza Rizvi,5602,3490.00,170.00,3320.0,20.00,CLOSED,Telibagh,2
41096,2024-10-02,67671,2643,RAJLUXMI MISHTHAN BHANDAR,Suraj Verma,39,678000.00,45300.00,632700.0,-3300.00,CLOSED,Telibagh,2
41093,2024-09-30,67672,6119,New Anjani kirana store,Vikas Gupta,6193,12000.00,1440.00,10560.0,-455.00,CLOSED,Ayodhya,4
41338,2024-09-30,67674,4155,Shameem kirana Store,Shuaib Akhtar,41,45350.00,6540.00,38810.0,-790.00,CLOSED,Gomti Nagar,1
41627,2024-09-30,67675,6300,Sanjay Jaiswal kirana store,Vikas Gupta,6193,57500.00,4500.00,53000.0,-500.00,CLOSED,Ayodhya,4

In [8]:
orders['order_id'].duplicated().sum()

0

In [9]:
orders['customer_id'].duplicated().sum()

60298

In [10]:
orders['customer_name'].duplicated().sum()

60409

In [11]:
orders['poc_name'].duplicated().sum()

64365

In [12]:
orders['poc_id'].duplicated().sum()

64362

> **customer names are not uniquely mapped to customer IDs**
>
> 1. Different business having identical names - but have unique ids
> 2. One business multiple IDs

In [13]:
# Find names that appear with multiple IDs
name_id_mapping = orders.groupby('customer_name')['customer_id'].nunique()
names_with_multiple_ids = name_id_mapping[name_id_mapping > 1].index.tolist()
len(names_with_multiple_ids)
names_with_multiple_ids

['93 Bataliyan CRPF',
 'A one biryani',
 'Ahmad Kirana Store',
 'Ajay Kirana Store',
 'Akash General Store',
 'Ankit General Store',
 'Anoop General Store',
 'Anoop Kirana Store',
 'Awasthi General Store',
 'Balaji Kirana Store',
 'Balaji Sweets',
 'Bangali Sweets',
 'Bhola Dhaba',
 'CHAURASIYA GENERAL STORE',
 'Champaran Meat House',
 'Deepak General Store',
 'Durgesh Kirana Store',
 'GUPTA GENERAL STORE',
 'Guddu general Store',
 'Gupta General Store',
 'Gupta Puri Bhandar',
 'Gupta sweet shop',
 'Harsh General Store',
 'Jagdeesh General Store',
 'Jai Ambey Traders',
 'Jaiswal General Store',
 'Jaiswal Kirana Store',
 'Janta Dhaba',
 'Janta General Store',
 'Khushi Kirana Store',
 'Krishna Enterprises',
 'M/S SWAD DAIRY AND SWEETS',
 'Mahadev Traders',
 'Mahi General Store',
 'Maurya Misthan Bhandar',
 'Mohan Kirana Store',
 'Mohit General Store',
 'Mukesh General Store',
 'Muradabadi Chicken Biryani',
 'Narayan Bhog',
 'Om General Store',
 'Pandey Kirana store',
 'Pizza Cave',
 'Pradeep Sweets',
 'Prakash Kirana Store',
 'RAJA GENERAL STORE',
 'Rahul Kirana Store',
 'Rahul traders',
 'Raju General Store',
 'Royal Bakery',
 'SHIVA GENERAL STORE',
 'SS Enterprises',
 'Sachin General Store',
 'Sahu General Store',
 'Sahu Traders',
 'Sandeep General Store',
 'Sanjay Kirana Store',
 'Santosh General Store',
 'Santosh general Store',
 'Satish Kirana Store',
 'Shiva Bakery',
 'Shiva General Store',
 'Shiva general store',
 'Shivam General Store',
 'Shree Balaji Bhojnalaya',
 'Shri Balaji Sweets House',
 'Shubham General Store',
 'Shubham Sweets',
 'Shyam General Store',
 'Thakur General Store',
 'Verma general store',
 'Vikash Kirana Store',
 'Vinod General Store',
 'Vivek General Store',
 'Yadav General Store',
 'Yadav Misthan Bhandar',
 'Yadav Puri Bhandar',
 'awasthi general store',
 'bhojnalaya',
 'bikaner sweets',
 'gupta traders',
 'jaiswal kirana',
 'jalebi shop',
 'krishna general Store',
 'laxmi general Store',
 'shiv general store',
 'shudh vaishno amritsari naan',
 'tiwari general Store',
 'veg biryani']

> 89 customers appeared with multiple IDs

In [14]:
unique_customers = orders['customer_id'].nunique()
print(f"{unique_customers} customers are found in the dataset")

4161 customers are found in the dataset

In [15]:
unique_customer_ids = orders['customer_id'].nunique()
print(f"{unique_customer_ids} unique customer_ids are found in the dataset" )

4161 unique customer_ids are found in the dataset

> There are unequal number of duplicates in the data, yet unique number of entries

Solution - Creating a primary_id_column, id with most customer orders

In [16]:
# Create a mapping of customer_name to primary customer_id
primary_id_mapping = {}

# For each customer_name, find the most frequently used customer_id
for name in orders['customer_name'].unique():
    name_subset = orders[orders['customer_name'] == name]
    # Get ID with most orders
    primary_id = name_subset['customer_id'].value_counts().idxmax()
    primary_id_mapping[name] = primary_id

# Add a new column for the mapped ID without changing original data
orders['primary_customer_id'] = orders['customer_name'].map(primary_id_mapping)
orders.head()

,order_date,order_id,customer_id,customer_name,poc_name,poc_id,amount,discount,net_order_amount,profit,order_status,warehouse_name,warehouse_id,primary_customer_id
0,2025-04-03,136349,5235,Anshu General Store Sector 34,Vikas Gupta,6,19125.00,1650.00,17475.0,0.0,CLOSED,Noida,3,5235
1,2025-01-30,110393,7622,bhai di rasoi,Abhay Srimali,7814,9670.48,735.48,8935.0,-56.4,CLOSED,Greater NOIDA,6,7622
2,2025-02-12,116427,3827,Shama chicken corner beta,Yash Pandey,51,62500.00,5000.00,57500.0,-650.0,CLOSED,Noida,3,3827
3,2024-12-26,96182,2223,Bikaner Sweets ( Harola ),Swatantra,25,4520.00,420.00,4100.0,40.0,CLOSED,Noida,3,2223
4,2024-12-30,97858,6903,Lucknow kirana store,Raj Kumar,7039,1700.00,0.00,1700.0,-88.0,CLOSED,Gomti Nagar,1,6903

In [17]:

print(
    orders['primary_customer_id'].duplicated().sum(),
    orders['customer_id'].duplicated().sum(),
    orders['customer_name'].duplicated().sum(),
    orders['primary_customer_id'].nunique(),
    orders['customer_name'].nunique(),
    orders['customer_id'].nunique()
)

60409 60298 60409 4050 4050 4161

In [18]:
orders.sort_values('customer_id')

,order_date,order_id,customer_id,customer_name,poc_name,poc_id,amount,discount,net_order_amount,profit,order_status,warehouse_name,warehouse_id,primary_customer_id
34604,2025-04-01,135467,1,Pinnacle Hotel,RAJAN SHUKLA,32,8930.0,1080.0,7850.0,-570.00,CLOSED,Telibagh,2,1
60058,2024-12-24,95101,1,Pinnacle Hotel,RAJAN SHUKLA,32,5074.0,224.0,4850.0,0.00,CLOSED,Telibagh,2,1
27953,2025-03-22,131815,1,Pinnacle Hotel,RAJAN SHUKLA,32,1700.0,60.0,1640.0,10.00,CLOSED,Telibagh,2,1
30199,2025-03-25,132768,1,Pinnacle Hotel,RAJAN SHUKLA,32,4488.7,598.7,3890.0,-465.03,CLOSED,Telibagh,2,1
40545,2024-10-09,70233,1,Pinnacle Hotel,RAJAN SHUKLA,32,3410.0,200.0,3210.0,20.00,CLOSED,Telibagh,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38442,2025-04-10,139286,9349,banarasiya jal pan,Hardeep Singh,9432,4720.0,360.0,4360.0,-20.00,CLOSED,Greater NOIDA,6,9349
38422,2025-04-10,139272,9350,Al Kabir Biryani,Mohit Negi,5183,1230.0,70.0,1160.0,5.00,CLOSED,Noida,3,9350
38498,2025-04-10,139277,9352,karan fast food,Abhay Shukla,35,3351.2,351.2,3000.0,-106.80,CLOSED,Noida,3,9352
38488,2025-04-10,139332,9358,jain store,Yash Pandey,51,27400.0,2400.0,25000.0,-200.00,OPEN,Noida,3,9358
38542,2025-04-10,139388,9367,Bhatia Bakery,Aditya Gupta,6624,6600.0,600.0,6000.0,-140.00,CLOSED,Telibagh,2,9367

In [19]:
orders['order_status'].value_counts()

order_status
CLOSED    64317
OPEN        142
Name: count, dtype: int64

In [20]:
orders['order_status'].dtype

dtype('O')

In [21]:
orders['order_status'] = orders['order_status'].map({'CLOSED':0, 'OPEN':1})
orders['order_status']

0        0
1        0
2        0
3        0
4        0
        ..
64454    0
64455    0
64456    0
64457    0
64458    0
Name: order_status, Length: 64459, dtype: int64

In [22]:
orders['order_status'].value_counts()

order_status
0    64317
1      142
Name: count, dtype: int64

In [23]:
orders.describe()

,order_date,order_id,customer_id,poc_id,amount,discount,net_order_amount,profit,order_status,warehouse_id,primary_customer_id
count,64459,64459.000000,64459.000000,64459.000000,6.445900e+04,64459.000000,64459.000000,64459.000000,64459.000000,64459.000000,64459.000000
mean,2025-01-10 01:02:21.019873024,103426.837307,4386.190447,2920.965466,1.606811e+04,1350.906929,14717.198282,-308.391379,0.002203,2.323043,4375.499713
min,2024-09-30 00:00:00,67415.000000,1.000000,2.000000,1.489000e+01,0.000000,14.890000,-86382.000000,0.000000,1.000000,1.000000
25%,2024-11-28 00:00:00,85413.500000,2355.000000,35.000000,2.260000e+03,150.000000,2090.000000,-203.340000,0.000000,1.000000,2355.000000
50%,2025-01-13 00:00:00,103379.000000,4541.000000,52.000000,5.113970e+03,375.000000,4680.000000,-50.000000,0.000000,2.000000,4500.000000
75%,2025-02-23 00:00:00,121395.500000,6216.000000,5602.000000,1.565000e+04,1200.000000,14333.000000,-5.000000,0.000000,3.000000,6212.000000
max,2025-04-10 00:00:00,139441.000000,9367.000000,9555.000000,1.010000e+06,389858.000000,950000.000000,84750.000000,1.000000,6.000000,9367.000000
std,NaN,20749.791913,2391.437029,3046.872786,3.308837e+04,3582.402681,30249.534820,1454.542967,0.046884,1.348273,2389.349369